* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(244, 193, 76);
  --text-dark: #333;
  --text-light: #fff;
}



body{
    background-color:white;
    
}

.form-title{
   text-align: center;
    color: rgb(75, 59, 133);
}

.login-card {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 2px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-card {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 2px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button{
    background-color: rgb(75, 59, 133);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer; 
}

.navbar{
    background-color: rgb(244, 193, 76);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;


}
.nav-links{
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.hero {
  padding: 100px 20px;
  align-items: center;

}

.hero h1 {
  padding-bottom: 20px;
}

.hero p {
  padding-bottom: 20px;
  justify-content: center;
}

.product-title {
  text-align: center;
  color: #333;
}

.product-card {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 120px 40px 40px 40px;
}

.cart-container{
  margin-top: 100px;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  
}

.cart-summary{
  background-color: bisque;
  padding: 20px;
  flex: 1;
}
.cart-items{
  flex: 2;
}


